.key {
    height: 100px;
    width: calc( 100vw / 14);
}

.blackKey {
    background-color: darkgray;
    color: white;
}

.keyPress {
    animation: 250ms ease-out 0s normal none slidein;
}

@keyframes slidein {
    from { transform: scaleX(0); }
    to   { transform: scaleX(1); }
}